.container-fluid
{
  display: grid;
  grid-template-columns: auto auto auto;
  width: 80%;
  row-gap: 1.5rem;
}

.pagination
{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;  
}

.pagination .page-num
{
  
}

.pagination a
{
  text-decoration: none;
  color: #499aec;
}